.form__input-error {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  min-height: 15px;
  color: #FF0000;
  display: block;
  margin-bottom:11px;
  opacity: 0;
}

.form__input-error:nth-last-child(2) {
  margin-bottom: 0;
}
