.header__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding: 0 0 18px 0;
}

@media screen and (min-width: 768px) {
  .header__text {
    text-align: right;
    padding-bottom: 0;
  }
}
